

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}



.title {
  color: rgb(var(--foreground-rgb));
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
  padding: 0;
  text-align: center;
}

.uploadFileModal {
  
  max-width: 500px;
  padding: 1rem;

  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 0 0 1rem rgba(47, 7, 228, 0.5);
  margin: auto important!;
  
}

.logo {
  max-width: 20px;
}


@font-face {
  font-family: 'Great Vibes';
  src: url('../../fonts/GreatVibes-Regular.ttf') format('truetype');
  /* Add additional formats if available (e.g., woff, woff2) */
  /* src: url('/fonts/great-vibes.woff') format('woff'),
         url('/fonts/great-vibes.woff2') format('woff2'); */
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gentium Plus';
  src: url('../../fonts/GentiumPlus-Regular.ttf') format('truetype');
  /* Add additional formats if available (e.g., woff, woff2) */
  /* src: url('/fonts/gentium-plus.woff') format('woff'),
         url('/fonts/gentium-plus.woff2') format('woff2'); */
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Dancing Script';
  src: url('../../fonts/DancingScript-VariableFont_wght.ttf') format('truetype');
  /* Add additional formats if available (e.g., woff, woff2) */
  /* src: url('/fonts/gentium-plus.woff') format('woff'),
         url('/fonts/gentium-plus.woff2') format('woff2'); */
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
   
}

header {
  /*make a black rectnage 90% width*/
  background-color: black;
  width: 100%;
  min-height: 32px;
  color: whitesmoke;

}

nav {
  width: 100%;
  /*align text center*/
  text-align: center;
  letter-spacing: 0.214em;
}

a {
  color: white;
}

a:hover {
  color: #f21515;
  
  
}

.logo-text {

  /*use google font great vibes*/
  font-family: "Great Vibes", cursive;
  font-size: 1.5rem;
  font-weight: 400;
  min-height: 0;
}

.banner-link {
  font-family: "Gentium Plus", serif;
  font-size: 1rem;
  font-weight: 400;
  /*uppercase*/
  text-transform: uppercase;
}

.banner-link:hover {
  color: blue;
 
}

.banner-image {
  fill: red;
  box-shadow: 4px 3px 1px 0 rgba(0, 0, 0, 0.5);
}





.red:hover {
  color: hotpink;
}
.arts-link {
  color: white;
  width: 90%;
  max-width: 800px;
  height: 56px;
  background-color: #120AAB; 
  text-transform: uppercase;
/*ceneter text*/
/*vertical align text center*/
  line-height: 56px;

  text-align: center;
  font-family: "Gentium Plus", serif;
  box-shadow: 5px 5px 2px 1px rgba(0, 0, 0, .25);
  margin: .5rem;
  
}

.arts-link:hover {
  color: #e5e7eb;
  font-style: inherit;
  box-shadow: none;
  background-color: rgb(34, 34, 235);
  transition: all 0.2s ease-in-out;
}

.title {
  font-family: "Dancing Script", cursive;
  font-size: 3rem;
  color: #120AAB;
  text-align: center;
}

.subtitle {
  font-family: "Gentium Plus", serif;
  font-size: 1rem;
  color: #595959;
  margin-bottom: 10px;
  text-align: center;
}


.schedule-item-date {
  font-family: "Gentium Plus", serif;
  font-size: 1.5rem;
  color: #120AAB;
  
}

.schedule-item-title {
  font-family: "Gentium Plus", serif;
  font-size: 16px;
  color: #000000;
  font-weight: bolder;
  text-align: center;
  margin-top: 10px;
  text-transform: uppercase;

}

.schedule-item-description {
  font-family: "Gentium Plus", serif;
  font-size: 16px;
  color: #5e5e5e;
  text-align: center;
}

.schedule-header {
  font-family: "Gentium Plus", serif;
  font-size: 32px;
  color: #120AAB;
  text-align: center;
  margin-bottom: 10px;
}

.table-row {
  border-bottom: 1px solid #e5e7eb;
}

.schedule {
  padding-top: 20px;
}

.banner-text {
  font-family: "Gentium Plus", serif;
  font-size: 1rem;
  font-weight: 400;
  /*uppercase*/
 
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.banner-body {
  text-align: center;
  width: 95%;
}

.banner-body-title {
  font-weight: 700;
  font-size: 1.5rem;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 5rem;
  font-family: "Gentium Plus", serif;
}

.event-date {
  font-size: 30px;
 
  color: #120AAB;
  font-family: "Gentium Plus", serif;
}

.event-title {
  font-size: 20px;
  font-weight: bold;
  font-family: "Gentium Plus", serif;
  text-transform: uppercase;

 
}

.event-description {
  font-size: 14px;
  font-weight: bold;
  font-family: "Gentium Plus", serif;
  text-transform: capitalize;
}

.event-time {
  font-size: 20px;
  font-weight: bold;
  font-family: "Gentium Plus", serif;
  text-transform: uppercase;
  color: #000;

}

.event-location {
  font-size: 14px;
  font-weight: bold;
  font-family: "Gentium Plus", serif;
  text-transform: capitalize;

}



